* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  padding: 3rem;
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
}

#main-header {
  position: relative;
  min-height: 95vh;
  background: linear-gradient(45deg, rgba(126, 213, 111, 0.3), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 75vh, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 75vh, 100% 0);
}

.logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo-container .logo {
  height: 3.5rem;
}

.content-header {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.content-header .heading-primary {
  color: #ffff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.content-header .heading-primary--main {
  -webkit-animation: moveInLeft 1s ease-in forwards;
          animation: moveInLeft 1s ease-in forwards;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  opacity: 0;
}

.content-header .heading-primary--sub {
  -webkit-animation: moveInRight 1s 0.5s ease-in forwards;
          animation: moveInRight 1s 0.5s ease-in forwards;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  opacity: 0;
}

@-webkit-keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.btn {
  font-size: 2rem;
  border-radius: 10rem;
}

.btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-white {
  background-color: #ffff;
  color: #777;
}

.btn-white::after {
  background-color: #ffff;
}

.btn-animated {
  -webkit-animation: btnAnimate .5s .75s ease-in-out backwards;
          animation: btnAnimate .5s .75s ease-in-out backwards;
}

@-webkit-keyframes btnAnimate {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes btnAnimate {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=styles.css.map */